
@charset "UTF-8";


html {
  height: 100%;
}



body{
    padding: 0;margin: 0;height: 100%;width: auto;overflow: visible
}body{
    font-size: 8px;color: #12252f;-webkit-text-size-adjust: none
}
#editor {
  display: table-cell;
  -webkit-user-select: auto !important;
  -webkit-user-modify: read-write !important;
  margin:10px;
  outline: 0px solid transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;width: 100%;box-sizing: border-box;outline: 0;overflow: visible;word-break: break-all;min-height: 100%
}
#editor img{max-width:100%}
#editor[placeholder]:empty:not(:focus):before {
  content: attr(placeholder);
  opacity: .2;
  font:9px;
}}
